[submodule "src/posts"]
	path = src/posts
	url = https://github.com/mikedmcfarland/thrown.posts
[submodule "build"]
	path = build
	url = https://github.com/mikedmcfarland/mikedmcfarland.github.io.git
