doctype html
html(lang="en")
  head
    title Thrown for a loop
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block css
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap/default-bright2.css")
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        link(rel="stylesheet", type="text/css", href="/css/base16-monokai.dark.css")
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet', type='text/css')

        //- link(rel="stylesheet", type="text/css", href=root+"public/style/prism-base16-eighties-dark.css")

  body(role="document", data-spy="scroll", data-target="#affix-nav")
        block navigation
            .navbar.navbar-inverse.shadow(role="navigation")
                .container
                    .navbar-header
                        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="/") 
                            img.pull-right.logo-img(src="/img/logo.png", alt="logo" )
                            span.logo thrown 
                                span.cursor |
                    .navbar-collapse.collapse
                            ul.nav.navbar-nav: li: .btn-toolbar
                                a(href="/" role="button").btn.btn-lg.text-shadow
                                    i.fa.fa-home
                                    |  Home
                                a(href="/", role="button").btn.btn-lg.text-shadow
                                    i.fa.fa-question
                                    |  About

    .container(role="main")
        block header 
        .row
            #content.col-md-8
                block content
            #side.col-md-4
                block side

        //-block footer
            .navbar.navbar-default.navbar-bottom(role="navigation"): .container
                    ul.nav.navbar-nav
                        li: .btn-toolbar
                                a(href="/" role="button").btn.navbar-btn.text-shadow
                                    i.fa.fa-home
                                    |  Home
                                a(href="/", role="button").btn.navbar-btn.text-shadow
                                    i.fa.fa-question
                                    |  About

    block scripts
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        //-script.
            $('h2,h3,h4').attr('data-spy','affix')
        script(type="text/javascript", src="/js/bootstrap.min.js")
        script(type="text/javascript", src="/js/prism.js")
       //--     script.
                $(document).ready(function(){
                    $("#sid").affix({
                        offset: { 
                            top: 190 
                        }
                    });
                });


